@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.container img {
    height: 28px;
    width: 28px;
    padding-right: 10px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form input {
    width: 300px;
    height: 40px;
    border: none;
    padding: 0 10px;
    font-size: 18px;
}

form input:focus {
    outline: none;
}

form button {
    width: 100px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer; /* Add this line */
}

.logo-title {
    display: flex;
    align-items: center;
}

.products-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 16px 20px;
    margin-bottom: 1.5rem;
    text-align: center;
    flex: 1 1 calc(33.33% - 1.5rem);
    box-sizing: border-box;
}

.products-card h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #1c1e29;
}

.product-info {
    padding: 10px 0;
}

.price {
    color: #1c1e29;
    font-weight: bold;
}

.rating {
    color: #999;
}

.view-button {
    background-color: #ccc;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer; /* Add this line */
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: #bbb;
}

.load-more-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.load-more-button {
    background-color: #ccc;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer; /* Add this line */
    transition: background-color 0.3s ease;
}

.load-more-button:hover {
    background-color: #bbb;
}

.products-card .product-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

h2 {
    text-align: center;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    height: 100px;
    font-size: 2rem;
    color: #007bff;
}